Repository toa-io/toa, pull requests merged in 2023-04, with the labels that each got.

#225 feat: add amqp sharded connection
  connectors/generics.amqp/package.json
  connectors/generics.amqp/source/communication.js
  connectors/generics.amqp/source/connector.js
  connectors/generics.amqp/test/communication.test.js
  connectors/generics.amqp/test/connector.test.js
  libraries/generic/source/shards.js
  libraries/generic/test/shards.test.js
  package-lock.json
Labels: Feature, Scope: AMQP

#233 feat: add support for arbitrary foreign messages
  integration/formation.component.test.js
  runtime/core/src/receiver.js
  runtime/core/test/receiver.test.js
  runtime/core/types/receiver.d.ts
  runtime/norm/features/component.operations.feature
  runtime/norm/features/steps/.test/manifest.test.js
  runtime/norm/features/steps/manifest.js
  runtime/norm/features/steps/parameters.js
  runtime/norm/src/.component/.normalize/index.js
  runtime/norm/src/.component/.normalize/receivers.js
  runtime/norm/src/.component/normalize.js
  runtime/norm/src/.component/schema.yaml
  runtime/norm/test/component/validate.fixtures.js
  runtime/norm/types/component.d.ts
  userland/example/components/tea/pots/manifest.toa.yaml
Labels: Feature, Scope: Runtime

#241 feat(yaml): add $import
  features/cli/compose.feature
  libraries/filesystem/source/file/read.js
  libraries/generic/source/traverse.js
  libraries/generic/test/traverse.test.js
  libraries/yaml/package.json
  libraries/yaml/readme.md
  libraries/yaml/source/extensions/$import.js
  libraries/yaml/source/extensions/index.js
  libraries/yaml/source/index.js
  libraries/yaml/test/examples/imports/basic/a.yaml
  libraries/yaml/test/examples/imports/basic/b.yaml
  libraries/yaml/test/examples/imports/basic/c.yaml
  libraries/yaml/test/examples/imports/multidoc/a.yaml
  libraries/yaml/test/examples/imports/multidoc/b.yaml
  libraries/yaml/test/examples/imports/nested/a.yaml
  libraries/yaml/test/examples/imports/nested/b.yaml
  libraries/yaml/test/examples/imports/nested/c.yaml
  libraries/yaml/test/examples/syntax.multidoc.yaml
  libraries/yaml/test/examples/syntax.yaml
  libraries/yaml/test/examples/yaml.multi.yaml
  libraries/yaml/test/examples/yaml.yaml
  libraries/yaml/test/import.test.js
  libraries/yaml/test/syntax.test.js
  libraries/yaml/test/yaml.test.js
  libraries/yaml/types/extension.d.ts
  package-lock.json
  runtime/norm/features/steps/.test/manifest.test.js
Labels: Code, Improvement

#262 feat: replay filters
  features/cli/replay.feature
  features/steps/.test/output.test.js
  features/steps/.workspace/samples/collection/math.calculations.multi.yaml
  features/steps/.workspace/samples/collection/math.calculations.sum.yaml
  features/steps/output.js
  runtime/cli/readme.md
  runtime/cli/src/commands/replay.js
  runtime/cli/src/handlers/replay.js
  userland/samples/readme.md
  userland/samples/src/components.js
  userland/samples/src/context.js
  userland/samples/src/suite/.read/filter.js
  userland/samples/src/suite/.read/messages.js
  userland/samples/src/suite/.read/operations.js
  userland/samples/src/suite/.read/parse.js
  userland/samples/src/suite/components.js
  userland/samples/src/suite/context.js
  userland/samples/test/components.test.js
  userland/samples/test/context.test.js
  userland/samples/test/context/components/dummy/manifest.toa.yaml
  userland/samples/test/context/components/dummy/samples/do.yaml
  userland/samples/test/context/components/dummy/samples/dummies.dummy.do.yaml
  userland/samples/test/context/components/dummy/samples/dummies.dummy.undo.yaml
  userland/samples/test/context/components/dummy/samples/messages/somewhere.something.happened.yaml
  userland/samples/test/context/components/pot/manifest.toa.yaml
  userland/samples/test/context/components/pot/samples/do.yaml
  userland/samples/test/context/components/pot/samples/messages/somewhere.something.happened.yaml
  userland/samples/test/suite.components.test.js
  userland/samples/types/replay.d.ts
  userland/samples/types/suite.d.ts
Labels: Feature, Scope: Userland

#270 feat(origins): add absolute URLs
  .husky/pre-commit
  extensions/origins/readme.md
  extensions/origins/source/deployment.test.js
  extensions/origins/source/factory.js
  extensions/origins/source/factory.test.js
  extensions/origins/source/manifest.js
  extensions/origins/source/manifest.test.js
  extensions/origins/source/protocols/amqp/aspect.js
  extensions/origins/source/protocols/amqp/deployment.js
  extensions/origins/source/protocols/amqp/id.js
  extensions/origins/source/protocols/amqp/index.js
  extensions/origins/source/protocols/http/.aspect/permissions.js
  extensions/origins/source/protocols/http/aspect.js
  extensions/origins/source/protocols/http/aspect.test.js
  extensions/origins/source/protocols/http/id.js
  extensions/origins/source/protocols/http/index.js
  extensions/origins/types/amqp.d.ts
  extensions/origins/types/http.d.ts
  extensions/origins/types/http.ts
  features/extensions/origins.feature
  features/steps/.workspace/components/collection/origins.http_absolute/manifest.toa.yaml
  features/steps/.workspace/components/collection/origins.http_absolute/operations/test.js
Labels: Feature, Scope: Origins
